* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  /* // layout */
  .dropdown {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    .form {
      display: flex;
      input {
        width: 200px;
      }
      .button {
        width: 60px;
        .fa-chevron-down {
          transform: rotate(0deg);
          transition: all 0.6s;
  
          &.active {
            transform: rotate(180deg);
          }
        }
      }
      input,
      button {
        border: none;
        width: 80%;
        padding: 10px ;
        background-color: rgb(209, 141, 52);
        color: #fff;
        cursor: pointer;
        position: relative;
        top: 20px;
        &:focus {
          outline: none;
        }
      }
    }
    .dropdownList {
      display: none;
      background-color: #9e6137;
      position: relative;
      top: 20px;
      li {
        padding: 20px ;
        &:hover {
          background-color: #d877db;
          transition: all 0.5s ease;
        }
      }
    }
  }