*{
    margin: 0;
    padding: 0;
}
#map {
    height: 100vh;
    width: 100%;
}
p{
    font-size: 20px;
    font-family: '標楷體';
}
#select{
    font-size: 33px;
    font-family: '標楷體';
    padding: 0;
}

.hidden-button {
    display: none;
}
#stationList{
    background-color: bisque;
    width: 100%;
    font-size: 22px;
    display: none;
}
.all{
    display: flex;
    height: 100vh;
}
.wordstlye{
    font-size: 30px;
    color: rgb(41, 11, 207);
    font-family: '標楷體';
    text-align: right;
}
.left{
    background-color:rgb(83, 118, 212); 
    width: 336px;
    border-radius: 15px;
    display: flex;
    font-family: '標楷體';
     
}
.title{
    font-family: '標楷體';
    font-size: 20px;
}
.button_position{
    font-family: '標楷體';
    font-size: 17px;
    border-radius: 15px;
    height: 40px ;
    width: 150px;
    padding: 2px;
}

